<div ngClass="bigPictureContainer">
  <img [src]="mainPicture" width="{{mainPictureWidth}}" height="{{mainPictureHeight}}" ngClass="bigPicture"/>
</div>
<div ngClass="smallPanel">
  <button mat-raised-button color="primary" (click)="previewPicture()" [disabled]="previewButton">Anterior</button>
  <button mat-raised-button color="primary" (click)="nextPicture()" [disabled]="nextButton">Siguiente</button>
  <button mat-raised-button color="primary" (click)="increase()">Aumentar</button>
  <button mat-raised-button color="primary" (click)="reduce()">Disminuir</button>
  <button mat-raised-button color="primary" (click)="playOrStop()">{{playString}}</button>
</div>

<div ngClass="smallGallery">
  <button mat-raised-button color="primary" (click)="previewList()" [disabled]="previewListButton">Anterior</button>
  <div  *ngFor="let picture of pictures | gallerySlice:firstImageListItem:lastImageListItem; let i=index"
  [class.selected]="selected === i"
  (click)="setFocus(i)">
    <img [src]="picture.src" width="150" height="100" (click)="getPicture($event)"/>
  </div>
  <button mat-raised-button color="primary" (click)="nextList()" [disabled]="nextListButton">Siguiente</button>
</div>

<p rotate>Rotate Exercise, but I can not rotate</p>
<div ngClass="rotateGallery">
  <div ngClass="rotateCell">
    <img rotate src="assets/amsterdam.jpeg" ngClass="rotatePicture"/>
  </div>
  <div ngClass="rotateCell">
    <img rotate="45" src="assets/praga.jpeg" ngClass="rotatePicture"/>
  </div>
  <div ngClass="rotateCell">
    <img rotate="45" step="15" src="assets/viena.jpeg" ngClass="rotatePicture"/>
  </div>
</div>
