<mat-toolbar *ngIf="!auth.isLogged()">
    <a routerLink="/home" routerLinkActive="selected">Home</a>
    <a routerLink="/login" routerLinkActive="selected">Login</a>
    <a routerLink="/about" routerLinkActive="selected">About Us</a>
</mat-toolbar>

<mat-toolbar *ngIf="auth.isLogged()">
    <a routerLink="/dashboard" routerLinkActive="selected">Dashboard</a>
    <a routerLink="/gallery" routerLinkActive="selected">Gallery</a>
    <a routerLink="/crud" routerLinkActive="selected">CRUD</a>
    <a routerLink="/profile" routerLinkActive="selected">Profile</a>
    <span>{{auth.getUsername()}}</span>
    <button (click)="auth.logout()">Salir</button>
</mat-toolbar>
